doctype html
html
  head
    title= 'Search the Sorry State of Twitter'
    script(type='application/javascript', src='https://cdn.socket.io/socket.io-1.4.5.js')
    link(rel='stylesheet', href='styles/tweetstream.css')
  body
    div(class='container')
      h1 Search the Sorry State of Twitter.
      div(id='searchErr', class='error') #{message}  
      div(class='formbox')
        form(id='searchForm',method='post',action='/search')
          div(class='row')
            label(for='searchFor', class='long') #{label}
            textarea(id='searchFor', name='searchFor')
          div(class='btn-row')
            button(type='submit',name='submit') #{search}
      div(id='results')      
    script(type='application/javascript').
      var siteIP = '#{siteIP}';
    script(type='application/javascript', src='scripts/tweetstream.js')             