doctype html
html
  head
    title= 'Review your sorry-ass tweets'
    link(rel='stylesheet', href='styles/tweetstream.css')
  body
    div(class='container')
      h1 #{label}.
      div(id='searchErr', class='error') #{err}  
      div(id='results')
        each t in storedTweets
          div(class='tweet' id=t.tid)
            div(class='author')
              img(class='profile_image' src=t.profileImage)
              p(class='name')= t.name
              p(class='screenName')= t.screenName
            p(class='createdAt')= t.createdAt
            div(class='text')= t.text
        